/* */
body {
    padding-top: 60px;
    padding-bottom: 0px;
}

.sidebar-nav {
    padding: 9px 0;  
}

#filter {
    float: left;
    width: 150px;
}

#info {
    float: left;
    margin-left: 20px;
    width: 1000px;
}
